.Button {
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #2D8031;
    color: #ffffff;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
}



.Button:disabled,
[disabled]{
    background-color: #cccccc;
    color: #666666;
}